<div class="col-xs-8 col-xs-offset-2" id="new_article">
   <div class="well well-lg">
      <div class="article-title">
         <%= link_to article.title, article_path(article) %>
      </div>
      
      <div class="article-body">
         <%= truncate(article.description, length: 100) %>
         <div class="article-meta-details">
         <small> Created by: <%= article.user.username if article.user %>
            <% if (@created_at != nil) then %>
                 <%= time_ago_in_words(article.created_at) %> ago,
            <% end %>
            <% if (@updated_at != nil) then %>
                 last updated: <%= time_ago_in_words(article.updated_at) %> ago
            <% end %>
                  </small>
         </div>
      </div>
      <% if user_signed_in? && (current_user == article.user || current_user.admin?)%>
         <div class = "article-actions"> 
           <div id = "editbutton"> <%= link_to "Edit this Article", edit_article_path(article), class: "btn btn-xs btn-info", remote: true %></div>            
           <%= link_to "View this Article", article_path(article), class: "btn btn-xs btn-warning" %> 
            <%= button_to "Delete this Article", article_path(article), method: :delete, 
                                               form: { data: { turbo_confirm: 'Are you sure?' } }, 
                                               class: "btn btn-xs btn-danger" %>
         </div>
         <% end %>
      </div>

      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
         <%= render 'edit_modal', article: article %>
      </div>

</div>