<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="edit-modal-<%= article.id %>"><i><b>Edit an Article</b></i></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <%=  form_with(model: article, local: false, turbo: false) do |f| %>
       <div class='form-group'>
                  <div class="control-label col-sm-2">
                    <%= f.label :title %> 
                  </div>
                  <div class="col-sm-9">
                    <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true, id: "edit-title" %>
                  </div>
                </div>
        <br>
       <div class='form-group'>
                  <div class="control-label col-sm-2">
                      <%= f.label :description %> 
                  </div>
                    <div class="col-sm-9">
                      <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of the article", id: "edit-description" %>
                    </div>
                  </div>
                  <center>
                      <%= f.submit "Update Article", class: "btn btn-danger btn-lg", id:"update" %>
                      <div id="content"></div>
                  </center>
      <% end %>
    </div>
  </div>
</div>